<div>
  <% if @repos_data %>
  <h2 class="text-2xl font-semibold mb-4">Repositories</h2>
  <ol class="list-decimal pl-6 mb-8">
    <% @repos_data.each do |repo| %>
      <li class="mb-6">
        <h3 class="text-xl font-semibold mb-2">Repository: <%= repo['last_commit'] %></h3>
        <ul>
          <li><strong>Name:</strong> <%= repo['name'] %></li>
          <li><strong>Owner:</strong> <%= repo['owner']['login'] %></li>
          <li><strong>URL:</strong> <%= repo['html_url'] %></li>
          <li><strong>Private Status:</strong> <%= repo['private'] ? 'Private' : 'Public' %></li>
          <li>
            <strong>Last non-code related updates:</strong> <%= repo['updated_at'].in_time_zone('Pacific Time (US & Canada)').strftime('%B %e, %Y %l:%M%P') %>
          </li>
          <li>
            <strong>Last code related updates:</strong> <%= repo['pushed_at'].in_time_zone('Pacific Time (US & Canada)').strftime('%B %e, %Y %l:%M%P') %>
          </li>
        </ul>
      </li>
    <% end %>
  </ol>
<% else %>
  <p>No repositories found.</p>
<% end %>
</div>
