<h1>Home</h1>

<% if @repos_data %>
  <h2>Repositories</h2>
  <ol>
    <% @repos_data.each do |repo| %>
      <li><%= repo['name'] %></li>
      <p><%= repo['html_url'] %></p>
    <% end %>
  </ol>
<% else %>
  <p>No repositories found.</p>
<% end %>

<% if @collaborators_data %>
  <h2>Collaborators</h2>
  <ul>
    <% @collaborators_data.each do |collaborator| %>
      <li><%= collaborator['login'] %></li>
      <p><%= collaborator['html_url'] %></p>
    <% end %>
  </ul>
<% else %>
  <p>No collaborators found.</p>
<% end %>

<% if @owners_data %>
  <h2>Owners</h2>
  <ul>
    <% @owners_data.each do |owner| %>
      <li><%= owner['login'] %></li>
      <p><%= owner['html_url'] %></p>
    <% end %>
  </ul>
<% else %>
  <p>No owners found.</p>
<% end %>
